    <section>
        <app-filter (changeCategory)="filterCategories($event)"></app-filter>

        <div class="fade-animation" *ngIf="todoList.length > 0; else emptyToDoList">
            <p *ngIf="this.urgentTasksExistis">Tarefas Urgentes</p>
            <ul>
                <ng-container *ngFor="let task of todoList">
                    <button class="emptyCheckbox" (click)="setTaskIsDone(task)"></button>
                    <a routerLink="/update-task/{{task.id}}">
                        {{task.category! | categoryEmoji}}
                        {{task.content}}
                    </a>
                </ng-container>
            </ul>

            <p *ngIf="this.nonUrgentTasksExisitis">Outras tarefas</p>
            <ul>
                <li *ngFor="let task of todoList">
                    <button class="empty-checkbox" (click)="setTaskIsDone(task)"></button>
                </li>
            </ul>
                
        </div>


        <ng-template #emptyToDoList>
            <div class="empt-home">
                <p>Nenhuma tarefa no momento</p>
                <a class="blue-button" routerLink="new-task">Criar uma tarefa</a>
            </div>
        </ng-template>
    </section>