<section *ngIf="historyList.length > 0; else emptyHistoryList">

    <!-- Lista as Tarefas -->
    <p>Histórico de tarefas:</p>
    <ul *ngFor="let task of historyList.slice().reverse()">
            <li>
                <button (click)="setTaskUndone(task)">
                    <svg class="feather feather-check" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><polyline points="20 6 9 17 4 12"/></svg>
                </button>
                {{task.category! | categoryEmoji}}
                {{task.content}}
            </li>
    </ul>

</section>

<ng-template #emptyHistoryList>

    <section class="empty-history">
        <p>Seu histórico está vazio 😬</p>
        <a class="blue-button" routerLink="/new-task">Criar uma tarefa</a>
    </section>

</ng-template>